.card-body{
    display: flex;
}
img {
    max-width: 100%
}
.card-thumb {
    max-width: 35%;
    margin-right: 20px;
}
.card-thumb img {
    border-radius: 3px;
}
.card-dsc {
    flex: 1;
}
.list-group-flush .list-group-item{
    padding-left: 0;
}
.fillter-user {
    display: flex;
    align-items: center;
}
.fillter-user h3 {
    font-size: 20px;
    min-width: 100px;
    margin: 0;
}
.user-count.text-right {
    background-color: tomato;
    display: inline-block;
    float: right;
    color: #fff;
    padding: 5px 15px;
    border-radius: 3px;
}